@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #000000;
}

@theme {
  /* breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1920px;

  /* typography */
  --text-fluid-base: clamp(0.875rem, 1vw, 0.875rem); /* 14px */
  --text-fluid-large: clamp(1.375rem, 6vw, 8.25rem); /* 22px – 132px */
  --text-fluid-h1: clamp(2.75rem, 6.25vw, 6.25rem); /* 44–100px */
  --text-fluid-h2: clamp(2.5rem, 5.5vw, 5rem); /* 40–80px */
  --text-fluid-h3: clamp(1.5rem, 4vw, 4rem); /* 24–64px */
  --text-fluid-h4: clamp(1.5rem, 3.5vw, 3.5rem); /* 24–56px */
  --text-fluid-h5: clamp(1.5rem, 3vw, 3rem); /* 24–48px */
  --text-fluid-h6: clamp(1.5rem, 2.5vw, 2.5rem); /* 24–40px */
  --text-fluid-body-1: clamp(1.5rem, 2.5vw, 2.5rem); /* 24–40px */
  --text-fluid-body-2: clamp(1.25rem, 2vw, 2rem); /* 20–32px */
  --text-fluid-body-3: clamp(1.25rem, 2vw, 2rem); /* 20–32px */
  --text-fluid-body-4: clamp(1.25rem, 1.5vw, 1.5rem); /* 20–24px */
  --text-fluid-body-5: clamp(1rem, 1.25vw, 1.25rem); /* 16–20px */
  --text-fluid-micro-lg: clamp(0.875rem, 1vw, 1.125rem); /* 14–18px */
  --text-fluid-body-2-guided: 1.5rem; /* 24px */
  --text-fluid-body-5-guided: 1.125rem; /* 24px */
  --text-fluid-micro-guided: 1rem; /* 16px */

  /* line height */
  --spacing-fluid-base: clamp(1.375rem, 2vw, 1.375rem); /* 22px */
  --spacing-fluid-large: clamp(1.875rem, 7.5vw, 8.75rem); /* 30px – 140px */
  --spacing-fluid-h1: clamp(3.375rem, 7vw, 7.375rem); /* 54–118px */
  --spacing-fluid-h2: clamp(3.125rem, 6vw, 5.5rem); /* 50–88px */
  --spacing-fluid-h3: clamp(2rem, 5vw, 4.75rem); /* 32–76px */
  --spacing-fluid-h4: clamp(2rem, 4.25vw, 4.125rem); /* 32–66px */
  --spacing-fluid-h5: clamp(2rem, 4.5vw, 4.75rem); /* 32–76px */
  --spacing-fluid-h6: clamp(2rem, 5vw, 5.375rem); /* 32–86px */
  --spacing-fluid-body-1: clamp(2rem, 3.5vw, 3.125rem); /* 32–50px */
  --spacing-fluid-body-2: clamp(1.75rem, 3vw, 2.625rem); /* 28–42px */
  --spacing-fluid-body-3: clamp(1.75rem, 3vw, 2.625rem); /* 28–42px */
  --spacing-fluid-body-4: clamp(1.75rem, 2.5vw, 2rem); /* 28–32px */
  --spacing-fluid-body-5: clamp(1.5rem, 2vw, 1.75rem); /* 24–28px */
  --spacing-fluid-micro-lg: 1.625rem; /* 26px */
  --spacing-fluid-body-2-guided: 2rem; /* 32px */
  --spacing-fluid-body-5-guided: 1.625rem; /* 26px */
  --spacing-fluid-micro-guided: 1.5rem; /* 24px */

  /* colors */
  --color-dark-grey: #1a1a1a;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-libre-baskerville: var(--font-libre-baskerville);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--background);
  position: relative;
}

.after-bg-size-custom::after {
  background-size: 100px auto;
}
